body { 
	background-color:#fffffc;
	font-size:14px;
	color:#555;
}

#page {
	padding-top:0px;
	margin-top:30px;
}

#page ul {
    margin: 0px 0px 15px 0px;
    list-style:none;
}
#page li {
    margin:0;
	height:20px;
	overflow:hidden;
}
#identica li, #delicious li,#videos li {
    margin:0;
	height:auto;
	overflow:hidden;
}
#identica li {
	margin:10px 0px
}
#delicious li {
	margin:10px 0px
}
.links div {
    padding:1px 3px;
}
.story.hover {
	position:absolute;
	height:auto;
	overflow:visible;
	background-color:#e2eeff;
    border:1px solid #afcaef;
    padding:0px 2px;
    z-index:10000;
	text-decoration:none !important;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
	-moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
	-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
}
.comment-link {float:right; font-size:12px;padding-left:16px;
    background-image:url(comment.png);
    background-position:left center;
    background-repeat:no-repeat;
}
.at-link {
	margin-bottom:5px;
	margin-top:-10px;
	text-indent:180px;
	color:#888;
	font-size:11px;
}
.entry-meta {
	font-size:11px;
	color:#888;
	text-indent:10px;
}
.divider {
	margin-bottom:2px;
}
.footer {margin-bottom:10px}
#page h1 {
    margin-bottom:0px;
	color:#3ea61d;
}
#page h2 {margin-bottom:0px; font-size:16px}

#header {
	margin: 0px 0px;
	background-color:#1b3a68;
	color:#fffdf9;
	text-align:left;
} 
#header h1 {
	font-size:44px;
	padding:0px 0px;
	font-weight:normal;
	margin-bottom:0
}
#header a {
	color:#fffdf9;
	text-decoration:none
}
.description {
	float:right;
	margin-top:-20px;
	font-size:13px;
}
#access {
	background-color:#2a2a2a;
	padding-bottom:2px;
	width:100%;
	margin: 0 auto;
	display:block;
	float:left;
}
.menu li {margin: 0px}
#access .menu-header,
div.menu {
	font-size: 24px;
}
#access .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
#access .menu-header li,
div.menu li {
	float:left;
	position: relative;
}
#access a {
	display:block;
	text-decoration:none;
	color:#ccc;
	padding:0 10px;
	line-height:26px;
}
#access ul ul {
	display:none;
	position:absolute;
	font-size:16px;
	top:26px;
	left:0;
	float:left;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	z-index: 99999;
}
#access ul ul li {
	min-width: 180px;	
}
#access ul ul ul {
	left:100%;
	top:0;
}
#access ul ul a {
	background:#333;
	height:auto;
	line-height:1em;
	padding:8px 10px;
	width: 160px;
}
#access li:hover > a,
#access ul ul :hover > a {
	color:#fff;
	background:#333;
}
#access ul li:hover > ul {
	display:block;
}
#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
	color: #fff;
}

* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color:#fff;
}
/* end menu styles */

a {text-decoration:none; color:#2f65b4}
a:hover {text-decoration:underline}
