{% macro time_entry(entry) -%}
<li>
  <a href="{{entry.link}}">
    {{entry.title}}
    <span>{{entry.feed_title}}</span>
</a>
  <span class="time-ago">
    {% if entry.time_unit == "New!" %}
    <i class="fa fa-star"></i>
    {% else %}
    <i>{{entry.time_length}}</i>
    {{entry.time_unit}}
    {% endif %}
  </span>
</li>
{% endmacro %}
<!DOCTYPE html>
<html>
  <head>
    <title>Links and Things</title>
    <meta name="viewport" content="width=device-width">

    <link type="text/css" rel="stylesheet" href="http://static.goodrobot.net/gxl/gxl.min.css">
    <link href='http://fonts.googleapis.com/css?family=Gentium+Basic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    

    <link rel="icon" type="image/png" href="/images/favicon.png">

    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="en" />
    <style type="text/css">
      a.comment { 
        width: 70px;
        text-align: center;
        font-size: 30px;
        vertical-align: middle;
      }
      .time-ago {
        padding: .5em 0;
        width: 64px;
        display: table-cell;
        text-align: center;
      }
      .time-ago i{
        font-size: 35px;
        display: block;
      }

      .touch {
        margin-bottom: 50px;
      }
      h2 {margin-bottom: 0;}
    </style>
  </head>
  <body>
    <header class="goodrobot-header">
      <ul class="list-inline">
        <li><a href="/about">About</a>
        <li><a href="/">Blog</a>
        <li><a href="/stream">Links</a>
        <li><a href="/projects">Projects</a>
      </ul>
      <a href="http://goodrobot.net">
        <img src="http://static.goodrobot.net/gxl/images/goodrobot.png">
      </a>
    </header>

    <div class="content">

      <h2>Hacker News</h2>
      <ul class="touch touch-table">
        {% for entry in 'http://news.ycombinator.com/rss'|feed %}
        <li>
          <a href="{{entry.link}}">{{entry.title}}</a>
          <a class="comment" href="{{entry.comments}}">
            <i class="fa fa-comment"></i>
          </a>
        </li>
        {% endfor %}
      </ul>

      <h2 >Reddit/Programming</h2>
      <ul class="touch touch-table">
        {% for entry in 'http://www.reddit.com/r/programming/.rss'|feed %}
          <li>
            <a class="link" href="{{entry.description|find_link(1)}}">{{entry.title}}</a>
            <a class="comment" href="{{entry.link}}">
              <i class="fa fa-comment"></i>
            </a>
          </li>
        {% endfor %}
      </ul>

      <h2>Rock Paper Shotgun</h2>
      <ul class="touch touch-list">
        {% for entry in 'http://feeds.feedburner.com/RockPaperShotgun'|feed %}
        <li>
          <a class="link" href="{{entry.link}}">{{entry.title}}</a>
        </li>
        {% endfor %}
      </ul>

      <h2>Coding</h2>
      <ul class="touch touch-table">
        {% for entry in [
            'http://www.littlehart.net/atthekeyboard/feed/',
            'http://feeds.feedburner.com/theendeavour',
            'http://eli.thegreenplace.net/feed/',
            'http://nedbatchelder.com/blog/rss.xml',
            'http://www.lostdecadegames.com/rss.xml',
            'http://meyerweb.com/index.php?feed=rss2&scope=summary',
            'http://www.codeofhonor.com/blog/feed',
            'http://feeds.feedburner.com/alistapart/main'
          ]|time_sort %}
          {{ time_entry(entry) }}
        {% endfor %}
      </ul>

      <h2>Gaming</h2>
      <ul class="touch touch-table">
        {% for entry in [
          'http://gamestorm.tumblr.com/rss',
          'http://feeds.feedburner.com/VenusPatrol',
          'http://feeds.wolfire.com/WolfireGames',
          'http://forums.introversion.co.uk/defcon/introversion/rss.php?blog=true',
          'http://feeds.feedburner.com/ARandomGnomesRandomLair',
          'http://blog.metagames.co.uk/feed/',
          'http://www.tigsource.com/feed/',
          'http://grumpygamer.com/rss2.0',
          'http://wasteland.inxile-entertainment.com/blog/feed/',
          'http://freegamer.blogspot.com/feeds/posts/default?'
        ]|time_sort %}
          {{ time_entry(entry) }}
        {% endfor %}
      </ul>

      <h2>Art and Interests</h2>
      <ul class="touch touch-table">
        {% for entry in [
          'http://feeds.feedburner.com/wwdn',
          'http://blog.iso50.com/feed/',
          'http://blog.gamemusicbundle.com/rss',
          'http://magicalgametime.com/rss',
          'http://feeds.feedburner.com/blowatlife',
          'http://simoncottee.blogspot.com/feeds/posts/default',
          'http://oktotally.tumblr.com/rss'
        ]|time_sort %}
          {{ time_entry(entry) }}
        {% endfor %}
      </ul>

      <h2>Friends and Families</h2>
      <ul class="touch touch-table">
        {% for entry in [
          'http://www.michaellesko.net/blog/?feed=rss2',
          'http://locke.notsoevil.net/?feed=rss2',
          'http://whatupderek.com/rss',
          'http://sketch.bysusanlin.com/rss',
          'http://pwnguin.net/rss20.xml',
          'http://feeds.feedburner.com/ThePlasmaEngine'
        ]|time_sort %}
          {{ time_entry(entry) }}
        {% endfor %}
      </ul>

      <h2>Pinboard</h2> 
      <ul class="touch touch-list">
        {% for entry in 'http://feeds.pinboard.in/rss/u:jdcantrell'|feed(10) %}
        <li>
        <a href="{{entry.link}}">
          {{entry.title}}
          {% if entry.description %}
            <span>{{entry.description}}</span>
          {% endif %}
        </a>
        </li>
        {% endfor %}
      </ul>

    </div>
  </body>
</html>
