<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>the sonorous swell</title>
        <link rel="stylesheet" type="text/css" href="reset.css">
        <link rel="stylesheet" type="text/css" href="text.css">
        <link rel="stylesheet" type="text/css" href="960.css">
        <link rel="stylesheet" type="text/css" href="ankh.css">
    </head>
    <body>
<!-- Header -->
<div id="header" style="width:100%"> 
	<div class="container_12">
			<h1><a href="http://notsoevil.net">the sonorous swell</a></h1>
			<div class="description">A water so full of life can't be bad for health!</div>
	</div>
</div>
<div id="access">
	<div class="container_12">
        <div class="menu-header">
            <ul class="menu">
                <li class="menu-item"><a href="http://notsoevil.net/about">About</a>
                <li class="menu-item"><a href="http://notsoevil.net/projects">Projects</a>
            </ul>
        </div>
	</div>
</div>
<!-- End header -->
<div id="page" class="container_12">
    <div class="grid_4">
        <h1>Things I've said</h1>
		<div class="at-link">on <a href="http://indenti.ca/keare">Identi.ca</a></div>
        <ul id="identica">{{http://identi.ca/api/statuses/user_timeline/38307.atom|identica|4}}</ul>
    </div>
    <div class="grid_4">
		<h1>Places I've been</h1>
		<div class="at-link">on <a href="http://delicious.com/keare">Delicous</a></div>
		<ul id="delicious">{{http://feeds.delicious.com/v2/rss/keare?count=5|delicious}}</ul>
    </div>
    <div class="grid_4">
		<h1>Videos I've liked</h1>
		<div class="at-link">on <a href="http://vimeo.com/user1669086/likes">Vimeo</a></div>
		<ul id="videos">{{http://vimeo.com/user1669086/likes/rss|vimeo|1}}</ul>
    </div>
    <div class="grid_12">
        <h1>Coding</h1>
    </div>
    <div class="grid_4 links">
        <h2>At the Keyboard</h2>
        <ul>{{http://www.littlehart.net/atthekeyboard/feed/|link}}</ul>
        <h2>Hacker News</h2>
        <ul>{{http://news.ycombinator.com/rss|link}}</ul>
    </div>
    <div class="grid_4 links">
		<h2>Google Testing Blog</h2>
		<ul>{{http://feeds.feedburner.com/blogspot/RLXA|link}}</ul>
		<h2>Plasma</h2>
		<ul>{{http://feeds.feedburner.com/ThePlasmaEngine|link}}</ul>
    </div>
    <div class="grid_4 links">
        <h2>Ned Batchelder</h2>
        <ul>{{http://nedbatchelder.com/blog/rss.xml|link}}</ul>
		<h2>Nick's Blog</h2>
		<ul>{{http://blog.notdot.net/feeds/atom.xml|link}}</ul>
    </div>
    <div class="grid_12">
        <h1>Gaming</h1>
    </div>
    <div class="grid_4 links">
        <h2>Meta Games</h2>
        <ul>{{http://blog.metagames.co.uk/feed/|link}}</ul>
        <h2>Gnome's Lair</h2>
        <ul>{{http://feeds.feedburner.com/ARandomGnomesRandomLair|link}}</ul>
    </div>
    <div class="grid_4 links">
        <h2>Free Gamer</h2>
        <ul>{{http://freegamer.blogspot.com/feeds/posts/default?alt=rss|link}}</ul>
        <h2>Gaffer on Games </h2>
        <ul>{{http://gafferongames.com/feed/|link}}</ul>
    </div>
    <div class="grid_4 links">
        <h2>Rock Paper Shotgun</h2>
        <ul>{{http://feeds.feedburner.com/RockPaperShotgun|link}}</ul>
        <h2>Grumpy Gamer</h2>
        <ul>{{http://grumpygamer.com/rss2.0|link}}</ul>
    </div>
    <div class="grid_12">
        <h1>Art and Interests</h1>
    </div>
    <div class="grid_4 links">
        <h2>Wil Wheaton</h2>
        <ul>{{http://feeds.feedburner.com/wwdn|link}}</ul>
		<h2>Simon Cottee</h2>
		<ul>{{http://simoncottee.blogspot.com/feeds/posts/default|link}}</ul>
	</div>
    <div class="grid_4 links">
        <h2>Andy Helms</h2>
		<ul>{{http://bangalores.livejournal.com/data/atom|link}}</ul>
		<h2>8-Bit Peoples</h2>
		<ul>{{http://www.8bitpeoples.com/feed/feed.rss|link}}</ul>
	</div>
    <div class="grid_4 links">
        <h2>Faith Hicks</h2>
		<ul>{{http://smuu.livejournal.com/data/atom|link}}</ul>
		<!-- <h2>DeviantArt Favorites</h2>
		<ul>{-{http://backend.deviantart.com/rss.xml?q=favby:Keare/2195205&type=deviation&offset=0|link}-}</ul> -->
    </div>
    <div class="grid_12">
        <h1>Family and Friends</h1>
    </div>
	<div class="grid_4 links">
		<h2>Jamie</h2>
		<ul>{{http://www.jamiecantrell.com/feed/|link}}</ul>
		<h2>Lily Feather Press</h2>
		<ul>{{http://www.lilyfeatherpress.com/?feed=rss2|link}}</ul>
	</div>
	<div class="grid_4 links">
        <h2>Michael Lesko</h2>
        <ul>{{http://www.michaellesko.net/blog/?feed=rss2|link}}</ul>
		<h2>Allen</h2>
		<ul>{{http://locke.notsoevil.net/?feed=rss2|link}}</ul>
	</div>
	<div class="grid_4 links">
        <h2>Justin Dugger</h2>
        <ul>{{http://pwnguin.net/rss20.xml|link}}</ul>
		<h2>John</h2>
		<ul>{{http://notsoevil.net/?feed=rss2|link}}</ul>
	</div>

<!-- feeds -->
	<div class="footer" style="clear:both">
		<hr class="divider">
		<div class="alignleft">Powered by <a href="http://github.com/keare/ankh">Ankh</a> - A simple lifestream generator.</div>
	</div>
</div>
<script type="text/javascript" src="http://static.notsoevil.net/intones/js/jquery-1.3.2.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function() {
		$('a').hover(
			function(e) {
				$(this).addClass("hover")
			},
			function (e) {
				$(this).removeClass("hover")
			}
		)
	})
</script>
</body>
</html>
