<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>My simple stream stuff</title>
    </head>
    <body>
        <h1>Things I say</h1>
        <ul>{{http://identi.ca/api/statuses/user_timeline/38307.atom|simple}}</ul>
		<h1>Places I've been</h1>
		<ul>{{http://feeds.delicious.com/v2/rss/keare?count=5|link}}</ul>
		<h1>Videos I liked</h1>
		<ul>{{http://vimeo.com/user1669086/likes/rss|vimeo}}</ul>
    </body>
</html>
